# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.jpg
!*.png
!*.webp
!lovelace/
!packages/
!packages/garagentor/
!packages/irrigation/
!packages/landroid/
!packages/surveillance/
!packages/weather/
!packages/weihnachten/
!packages/scenes/
!themes/
!www/
!www/images/
!www/images/garage/
!www/irrigation/
!www/mower/
!www/vacuum/

# Разрешить саму папку esphome
!esphome/
# Разрешить YAML в корне esphome
!esphome/*.yaml
# Но secrets.yaml в esphome игнорировать
esphome/secrets.yaml

# Разрешить всё в esphome/components и подпапках
!esphome/components/
!esphome/components/**

# Ignore folders.
.storage
.cloud
addons
custom_components
community
deps
# esphome Settings in the folder
manuals
script
tts
unused

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
.HA_VERSION
.uuid
.google_maps_location_sharing.cookies
.google_maps_location_sharing.cookies.schick_a_gmail_com
.google.token
google_sevice_account.json
home-assistant_v2.db
home-assistant.log
customize.yaml
go2rtc.yaml
google_calendars.yaml
groups.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml
ui-lovelace.yaml
zones.yaml

haus_022019_eg.png
haus_022019_og.png

person.yaml
meteostat.yaml

# esphome/garagegate.yaml
packages/sonoffrfbridge.yaml
www/images/pluto-qrcode.png