homeassistant:
  # name: !secret ha_name
  # latitude: !secret ha_latitude
  # longitude: !secret ha_longitude
  # elevation: !secret ha_elevation
  # time_zone: !secret ha_time_zone
  # unit_system: metric
  # external_url: !secret ha_external_url
  # internal_url: !secret ha_internal_url
  packages: !include_dir_named packages/
  customize: !include customize.yaml
  allowlist_external_dirs:
    - /share/nuc/media/cams

  media_dirs:
    # local: /media
    nuc: /share/nuc/media

zone:
  - name: Home
    latitude: !secret ha_latitude
    longitude: !secret ha_longitude
    radius: 75
    icon: mdi:home
    passive: false

# Enables #############################
api:
# cloud:
config:
conversation: # Allows you to issue voice commands from the frontend in enabled browsers
default_config:
dhcp:
energy:
# map: # A map on the frontend to display the location of tracked devices.
media_source:
mobile_app:
my: # This integration handles redirects from the My Home Assistant service.
notify:
system_health: # System Health integration data can be viewed in Developer Tools on the “Info” tab.
websocket_api:

# Enables the frontend ################
frontend:
  themes: !include_dir_merge_named themes

# HTTP ################################
http:
  # ssl_certificate: /ssl/fullchain.pem
  # ssl_key: /ssl/privkey.pem
  ip_ban_enabled: true
  login_attempts_threshold: 15
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.32.0/23
  cors_allowed_origins:
    - !secret ha_external_url
    - !secret ha_internal_url

logger:
  # default: critical
  default: warning
  logs:
    # homeassistant.components: warning
    homeassistant.components.camera: warning
    homeassistant.components.device_tracker: warning
    homeassistant.components.http.ban: warning
    homeassistant.components.onvif: warning
    homeassistant.components.recorder.core: warning
    homeassistant.components.recorder.util: warning
    # homeassistant.components.rfxtrx: warning
    # homeassistant.components.syncthru: debug
    homeassistant.components.websocket_api: error
    # homeassistant.core: debug

    fritzconnection: warning
    miio.miioprotocol: fatal
    custom_components.landroid_cloud: error
    custom_components.localtuya.common: critical
    custom_components.xiaomi_miio_fan.fan: fatal

# Recorder ############################
recorder:
  # db_url: sqlite:////media/cams/home-assistant_v2.db
  # db_url: sqlite:////media/cams/1/home-assistant_v2_1.db
  # db_url: !secret mariadb_url
  purge_keep_days: 90
  commit_interval: 30
  auto_purge: true
  auto_repack: true
  exclude:
    domains:
      - calendar
      - sun
      - weblink
      - weather
      - updater
      - persistent_notification
    entity_globs:
      - sensor.weather_*
      - sensor.*_rssi
      - sensor.date*
    entities:
      - sun.sun
      - sensor.date
      - sensor.time
      - sensor.date_time
      - sensor.only_text

# Logbook #############################
logbook:
  exclude:
    domains:
      - calendar
      - weblink
      - media_player  # Добавить
    entities:
      - sun.sun
      - sensor.date
      - sensor.time
      - sensor.date_time
      - sensor.only_text
    entity_globs:
      - sensor.weather_*
      - sensor.*_rssi

# Enables support for tracking state changes over time
history:
  exclude:
    domains:
      - updater
      - camera  # История камер не нужна в UI
    entity_globs:
      - sensor.*_rssi
      - binary_sensor.updater

# TTS #################################
tts:
  # https://eu-central-1.console.aws.amazon.com/polly/home/SynthesizeSpeech
  - platform: amazon_polly
    aws_access_key_id: !secret aws_access_key_id
    aws_secret_access_key: !secret aws_secret_access_key
    region_name: !secret aws_region_name
    voice: Hans
    text_type: ssml

  # - platform: google_cloud
  #   google_tts_key_file: !secret key_file
  #   language: de-DE
  #   gender: male
  #   voice: de-DE-Wavenet-D
  #   encoding: linear16
  #   speed: 0.9
  #   pitch: -2.5
  #   gain: -5.0
  #   text_type: ssml
  #   profiles:
  #     - medium-bluetooth-speaker-class-device
  #     - telephony-class-application
  #     - wearable-class-device

  - platform: google_translate

  # https://cloud.yandex.ru/services/speechkit#demo
  - platform: yandextts
    api_key: !secret yandex_api_key
    language: "ru-RU"
    codec: mp3
    voice: oksana
    emotion: good
    speed: 0.9

  - platform: microsoft
    api_key: !secret msspeech_api_key
    language: de-de
    gender: Male
    type: ConradNeural
    rate: 0.8
    volume: 100
    pitch: x-low
    # contour: (0, 0) (100, 100)
    region: germanywestcentral

# FFMPEG ##############################
ffmpeg:
  # ffmpeg_bin: /usr/bin/ffmpeg

stream:

# Google ##############################
# google:
#   client_id: !secret google_client_id
#   client_secret: !secret google_client_secret
#   track_new_calendar: true

# Device Tracker ######################
device_tracker:
  - platform: google_maps
    username: !secret my_email
    # password: !secret google_pass

# Includes ############################
automation: !include automations.yaml
google_assistant: !include google_assistant.yaml
group: !include groups.yaml
# panel_iframe: !include panel_iframe.yaml
# scene: !include scenes.yaml
script: !include scripts.yaml
template: !include template.yaml
sensor: !include sensors.yaml
shell_command: !include shell_commands.yaml
# zone: !include zones.yaml
